<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">

		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		<title>index</title>
		<meta name="author" content="Wig Cheng">

		<meta name="viewport" content="width=device-width; initial-scale=1.0">

		<!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
		<link rel="shortcut icon" href="/favicon.ico">
		<link rel="apple-touch-icon" href="/apple-touch-icon.png">
		<link rel="stylesheet" href="/static/css/index.css" />
		<script src="/static/lib/jquery.min.js"></script>
	</head>

	<body>
		<div class="banner"> </div>
		<div class="logo" align="center">
			<div><img src="/static/img/title.png" /></div>
		</div>
		<div class="content" align="center">
			<table>
				<tr>
					<td><a href="/network"><img src="/static/img/wifi.png" /></a></td>
					<td><img src="/static/img/film.png" /></td>
					<td><img src="/static/img/music.png" /></td>
				</tr>
				<tr>
					<td><img src="/static/img/calculator.png" /></td>
					<td><img src="/static/img/security.png" /></td>
					<td><img src="/static/img/dev.png" /></td>
				</tr>
			</table>
		</div>
	</body>
	<script src="/static/app/main.js"></script>
</html>
